.page-header
  padding: 1rem 1.5rem
  position: relative
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05)
  background: white
  display: flex
  align-items: center

  > .hamburger-button
    margin-right: 1em

    @media #{$desktop}
      display: none

  > h1
    margin: 0

    @media #{$small}
      font-size: 1.5em

  > .actions
    margin-left: auto
    white-space: nowrap

    > .action-button
      margin-left: 1rem
